
html, body, #root, .App {
  margin: 0;
  padding: 0;
  background-color: #131313;
  background-image: linear-gradient(#111111,#000000);
  min-height: 100vh;
  font-family: 'Roboto', sans-serif;
}

.bg-style {
  background-color: #272c31;
  padding: 10px;
}

.nav-color {
  background-color: #212121;
  color: #adadad;
}

.pro-sidebar {
  color: #adadad;
  height: 100%;
  width: 200px;
  min-width: 200px;
  text-align: left;
  transition: width, left, right, 0.3s;
  position: fixed;
  z-index: 1009; 
  margin-top: 20px;
  }

  .pro-sidebar > .pro-sidebar-inner {
    background: #000000;
    height: 100%;
    position: relative;
    z-index: 101; }



