

html,
body {
  margin: 0;
  padding: 0;
  background-color: #22333b;
}


.root {
  width: 100vw;
  height: 100vh;
  
}


.pro-sidebar {
  color: #adadad;
  height: 100%;
  width: 200px;
  min-width: 200px;
  text-align: left;
  transition: width, left, right, 0.3s;
  position: relative;
  z-index: 1009; }


